@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap);


*{
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; 
  font-size: 18px;
}

a{
  text-decoration: none;
  color: black;
}

body{
  background-color: #F3F3F3;
}

.header{
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
  
}

.website-title{
  display: flex;
  align-items: center;
  flex-grow: .99;
  margin-left: 30px;
  padding-top: 20px;
}

.icon-title{
  width: 55px;
  margin:10px 10px 20px 25px;
}


#name{
  font-size: 3.5vb;
  font-weight: 800;
  color: #252525;
}

.nav-bar{
  display: flex;
  margin-right: 30px;
  padding-top: 13px;
}

#nav-bar-button{
  cursor: pointer;
  padding: 1.3rem;
}

#nav-bar-button-slash{
  margin-top: 19px;
  font-size: larger;
}

#nav-bar-button:hover{
  color: #EEA302;
}

.main{
  display: flex;
  padding: 30px;  
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}

.pic-contianer{
  width: 45%;  
  flex-shrink: 0;
  transition: 0.3s;


}

#profile-pic{
  margin-left: 100px;
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  flex-shrink: 0;
  transition: 0.3s;


}

.welcome-text{
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 30px;
  font-size: 18px;
  transition: 0.3s;

}

#about-me-info{
  width: 70%;
}

#hello-text{
  font-weight: 800;
  font-size: 103px;
}

#about-me-text{
  font-weight: 800;
  margin: 25px 0px 0px 8px;
  font-size: 21px;
}

#about-me-info{
  margin: 10px 0px 0px 8px;
  line-height: 1.8;
}

.click-options{
  margin: 30px 0px 0px 8px;
  flex-direction: row;
}

.option-icon{
  width: 100px;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
}

#hr-pic-container{
  display: none;
  margin-top: 10px;
}



 /*Footer*/

 #footer-hr{
  margin: 130px 0px 0px 0px;
}


.footer{
  margin: 30px 3% 100px 3%;
  display: flex;
}

.phone-container{
  display: flex;
  flex-direction: column;
  margin-right: 25%;
}

.email-container{
  display: flex;
  flex-direction: column;
  margin-right: 25%;
}

.footer-text{
  font-weight: 800;
  margin-bottom: 10px;
}

.footer-info{
  font-size: 18px;
}

.icons{
  flex-direction: row;
}

.logo{
  width: 33px;
  margin: 0px 5px 0px 0px;
  cursor: pointer;
}




/* RESPONSIVE */
@media (max-width:1750px) {
  .main{
    margin-left: 200px;
  }

  .pic-contianer{
    width: 50%;  
  }

}

@media (max-width: 1536px){
  *{
    font-size: 25px;
  }

  #nav-bar-button-slash{
    margin-top: 26px;
    font-size: larger;
  }

  #name{
    font-size: 4.0vb;
  }

  .nav-bar{
    padding-top: 30px;
  }

  .icon-title{
    width: 80px;
  }

  .website-title{
    padding-top: 30px;
  }

    
  .main{
    margin-left: 100px;
  }

  #profile-pic{
    margin-left: 80px;
  }
}

@media (max-width: 1440px) {
  .pic-contianer{
    margin-top:-60px;
  }

  #profile-pic{
    margin-left: 80px;
  }
}

@media (max-width: 1370px) {
  .pic-contianer{
    margin-top: -150px;
  }

  #profile-pic{
    margin-left: 70px;
  }
}


@media (max-width: 1280px){
  *{
    font-size: 23px;
  }

  #name{
    font-size: 3.5vb;
  }

  .icon-title{
    width: 55px;
  }
  
  .pic-contianer{
    width: 90%;  
  }

  .main{
    margin-left: 50px;
  }

  .welcome-text{
    margin-right: 50px;
  }

  .pic-contianer{
    width: 50%;
  }

  #profile-pic{
    margin-left: 70px;
  }
}


@media (max-width: 1210px) {
  .pic-contianer{
    margin-top: -200px;
  }

  #profile-pic{
    margin-left: 70px;
  }
}

@media (max-width: 1100px){
  .nav-bar{
    display: none;
  }

  .website-title{
    padding-top: 50px;
  }

  #name{
    font-size: 7.0vb;
    display: block;
    padding-top: 40px;
    margin-left: 8px;
  }

  span{
    margin-left: -5px;
    color: gray;
  }

  .icon-title{
    width: 100px;
    margin-top: 40px;
  }

  #hello-text{
    font-size: 60px;
  }

  #about-me-info{
    font-size: 20px;
  }

  #about-me-text{
    font-size: 22px;

  }

  .pic-contianer{
    margin-top: -150px;
  }

  .option-icon{
    width: 90px;
    padding: 10px 20px 10px 5px;
  }

  #profile-pic{
    margin-left: 50px;
  }
  
} 

@media (max-width: 1000px){
  .pic-contianer{
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #profile-pic{
    margin:0px;
    max-width: 100%;
    box-shadow: 17px 25px 12px -3px rgba(0,0,0,0.1); 
  
  }

  #hr-pic-container{
    display: block;
    margin-bottom: 50px;
    margin-left: -200px;
  }

  #footer-hr{
    display: none;
  }

  #hello-text{
    font-size: 90px;
  }

  #about-me-text{
    font-size: 28px;
  }

  .option-icon{
    width: 100px;
    padding: 40px 20px 10px 5px;

  }

  .main{
    flex-direction: column;
    margin-top: 100px;
    display: flex;
    padding: 0px;  
    margin-left: 0px;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  
  .welcome-text{
    width: 100%;
    margin-left: 200px;
        
  }
}

@media (max-width:956px) {
  .footer-text{
    font-size: 22px;
  }

  .footer-info{
    font-size: 17px;
  }

  .logo{
    width: 28px;
    margin: 0px 5px 0px 0px;
  }
  
}

@media (max-width:906px) {
  .footer-text{
    font-size: 21px;
  }

  .footer-info{
    font-size: 16px;
  }

  .logo{
    width: 28px;
    margin: 0px 5px 0px 0px;
  }
  
}

@media (max-width:855px) {
  .footer-text{
    font-size: 20px;
  }

  .logo{
    width: 28px;
    margin: 0px 5px 0px 0px;
  }
  
}

@media (max-width:680px) {
  .footer-text{
    font-size: 20px;
  }

  .logo{
    width: 28px;
    margin: 0px 4px 0px 0px;
  }
  
  .phone-container{
    margin-right: 20%;
  }

  .email-container{
    margin-right: 20%;
  }

}



@media (max-width:800px) {
  .pic-contianer{
    width: 70%;
  }
}

@media (max-width:588px) { 
  .phone-container{
    margin-right: 18%;
  }

  .email-container{
    margin-right: 18%;
  }

}

@media (max-width:551px) { 
  .phone-container{
    margin-right: 16%;
  }

  .email-container{
    margin-right: 16%;
  }

}


@media (max-width:515px) {
  #name{
    font-size: 6.0vb;
  }

  .icon-title{
    width: 90px;
  }

  .pic-contianer{
    width: 70%;
  }

  #profile-pic{
    justify-content: start;
    align-self: start;
  }

  .phone-container{
    margin-right: 13%;
  }

  .email-container{
    margin-right: 13%;
  }
}

@media (max-width: 485px){
  .welcome-text{
    margin-left: 30px;
    justify-content: start;
    align-self: start;
  }

  .website-title{
    margin-left: 10px;
  }

  .follow-container{
    margin-right: 5px;
  }

}

@media (max-width:435px) {
  #name{
    font-size: 5.0vb;
  }

  .icon-title{
    width: 80px;
  }

  .option-icon{
    width: 90px;
  }

  .pic-contianer{
    width: 80%;
  }

  .phone-container{
    margin-right: 10%;
  }

  .email-container{
    margin-right: 10%;
  }
}

@media (max-width:415px) {
  .option-icon{
    width: 80px;
  }

  .footer-text{
    font-size: 18px;
  }

  .footer-info{
    font-size: 15px;
  }

  .logo{
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width:380px) {
  #name{
    font-size: 4.5vb;
  }

  .icon-title{
    width: 70px;
  }

  .option-icon{
    width: 70px;
  }

  .phone-container{
    margin-right: 10%;
  }

  .email-container{
    margin-right: 10%;
  }

  .footer-text{
    font-size: 15px;
  }

  .footer-info{
    font-size: 12px;
  }

  .logo{
    width: 22px;
  }
}


@media (max-width:365px) {
  .welcome-text{
    margin-left: 15px;
  }
}

@media (max-width:344px) {
  .option-icon{
    width: 60px;
  }

  #name{
    font-size: 4.0vb;
  }

  .icon-title{
    width: 60px;
    margin-top: 50px;
  }
}